/* Tamanho da imagem ajustado */
.conteudo-titulo img {
    max-width: 40px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção */
}

/* Ajuste no campo de senha para dispositivos móveis */
#campo-senha {
    width: 100%; /* Ajusta a largura para 100% da tela em dispositivos menores */
    max-width: 400px; /* Limita o tamanho máximo */
}

/* Ajustes para a responsividade em telas menores */
@media screen and (max-width: 768px) {
    .conteudo-titulo {
        margin-top: 20px; /* Reduz o espaçamento superior */
    }
    
    .parametro-coluna__senha {
        flex-direction: column; /* Faz com que os itens se alinhem em uma coluna */
    }
    
    .parametro-senha {
        width: 80%; /* Alinha os parâmetros na tela inteira em dispositivos menores */
        margin: 0 auto;
    }
    
    .parametro-senha__botao {
        padding: 16px; /* Ajusta o tamanho do botão em telas menores */
        font-size: 18px;
    }
    
    .parametro-senha__texto {
        padding: 16px; /* Ajusta o espaçamento do texto */
        font-size: 20px;
    }
    
    label {
        font-size: 18px; /* Ajusta o tamanho das labels */
    }
    
    .checkbox {
        width: 18px; /* Ajusta o tamanho dos checkboxes */
        height: 18px;
    }
}

/* Ajustes para telas maiores */
@media screen and (min-width: 1024px) {
    #campo-senha {
        width: 50%; /* Ajusta a largura em telas grandes */
    }
    
    .parametro-coluna__senha {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .parametro-senha {
        width: 30%; /* Ajusta a largura dos parâmetros para telas grandes */
    }
}
